<nav style="background-color: #000; color: #fff;">
  <ul style="display: flex; gap: 20px;">
      <!-- This is an A11y Change - aria-label for navigation links -->
      <li><a [routerLink]="['/']" aria-label="Homepage" style="color: #fff;">Homepage</a></li>
      <li><a [routerLink]="['/about']" aria-label="About Us" style="color: #fff;">About</a></li>
      <li><a [routerLink]="['/login']" aria-label="Login Page" style="color: #fff;">Login</a></li>
      <li><a [routerLink]="['/contact']" aria-label="Login Page" style="color: #fff;">Contact</a></li>

  </ul>
</nav>
